{% extends "layout.njk" %}

{% block head %}
    <title>Teacher Finder</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a href="/teachers/create" class="button">Novo</a>
            <form action="/teachers" method="GET">
                <input type="text" name="find" placeholder="Buscar Professor ou Areá de Atuação" value="{{find}}">
                <button type="submit">Buscar</button>
            </form>

        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome completo</th>
                    <th>Areá de Atuação</th>
                    <th></th>
                </th>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span></td>
                        <td>{{teacher.name}}</td>
                        <td>
                            {% for service in teacher.services %}
                                <span>{{service}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/teachers/{{teacher.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}