{% extends "layout.njk" %}

{% block head %}
    <title>Teacher Finder</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        <a href="/teachers/create" class="btn-new">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>    </th>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </th>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td><span style="background-image: url({{teacher.avatar_url}})"></span></td>
                        <td>{{teacher.name}}</td>
                        <td>
                            {% for service in teacher.services %}
                                <span>{{service}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/teachers/{{teacher.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}